<%- include('templates/header') %>

<div class="content-app" id="index">
    <div class="row" id="messageArea">
        <div class="col-md-4" id="sidebar">
            <%- include('navigation') %>
            <div class="app-content">

                <!--Card-->
                <div class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <h3 class="text-uppercase card-header"><%= post.post_title %></h3>
                    <!--Card content-->
                    <div class="card-body"> 
                            <p>posted: <%= timeSince(new Date().getTime() - post.time) %>
                            
                            
                            <%  if (user.username === post.posted_by.username) { %>
                                <a href="" id="delete_btn" class="btn btn-outline-primary pull-right" style="padding: 5px; color: red;"><small>delete post!</small></a>
                                <a href="/edit-post?post_id=<%= post.id %>" class="btn btn-outline-primary pull-right" style="padding: 5px; color: ;"><small>edit post</small></a>
                            <% }  %>

                            </p>
                            
                        <p>
                            <%=  post.post_body  %>
                        </p>
                       
                    </div>

                </div>
                <!--/.Card-->

                <!--Card-->
                <div class="card mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                    <div class="card-header font-weight-bold">
                        <span>Posted By:</span>
                        <span class="pull-right">
                            
                        </span>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <div class="media d-block d-md-flex mt-3">
                            <img class="d-flex mb-3 mx-auto z-depth-1"
                                src="
                                
                                <% if (!post.posted_by.image.length)   {  %>
                                    img/user.svg
                                  <%   } %>
                                  <% if (post.posted_by.image.length)   {  %>
                                    <%= post.posted_by.image %>
                                  <%   } %> 
                                
                                "
                                alt="Generic placeholder image" style="width: 40px;">
                            <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                <h5 class="mt-0"><%= post.posted_by.name %>
                                </h5>
                                Level: <%= post.posted_by.level %>  <br>
                            </div>
                        </div>

                    </div>

                </div>
                <!--/.Card-->

                <!--Comments-->
                <div class="card card-comments mb-3 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <div class="card-header font-weight-bold"><%= post.comments.length %> comment(s)</div>
                    <div class="card-body">

                        <% post.comments.forEach(function(comment){ %>

                            <div class="media d-block d-md-flex mt-4">
                                    <img class="d-flex mb-3 mx-auto "
                                        src="
                                        <% if (typeof comment.commenter.image === 'undefined' || comment.commenter.image == '')   {  %>
                                            img/user.svg
                                          <%   } %>
                                          <% if (comment.commenter.image.length)   {  %>
                                            <%= comment.commenter.image %>
                                          <%   } %> 

                                        " style="width: 40px; height: 40px;"
                                        alt="Generic placeholder image">
                                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                                        <h6 class="mt-0">
                                           <%= comment.commenter.name %>
                                        </h6>
                                       <small> 
                                           <%= comment.comment_body %>
                                       </small>
        
                                       
                                    </div>
                                </div>
                               <hr>
                        <% })  %>
                    </div>
                </div>
                <!--/.Comments-->

                <!--Reply-->
                <div class="card mb-3 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <div class="card-header font-weight-bold">post a comment</div>
                    <div class="card-body">

                        <!-- Default form reply -->
                        <form action="/new-comment/<%= post._id %>" method="POST">

                            <!-- Comment -->
                            <div class="form-group">
                                <label for="replyFormComment">Your comment</label>
                                <textarea required name="comment_body" class="form-control" id="replyFormComment" rows="5"></textarea>
                            </div>

                            <div class="text-center mt-4">
                                <button class="btn btn-info btn-md waves-effect waves-light" type="submit">Post</button>
                            </div>
                        </form>
                        <!-- Default form reply -->



                    </div>
                </div>
                <!--/.Reply-->

            </div>
        </div>
    </div>
</div>


<footer>
    &copy Nacoss DCS
</footer>
</div>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/socket.io.js"></script>
<script src="vendor/popper.js/umd/popper.min.js"> </script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="vendor/@fancyapps/fancybox/jquery.fancybox.min.js"></script>
<script src="js/front.js"></script>
<script src="js/profile.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="md/js/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
    const post_id = window.location.search.slice(9)
    if ( document.querySelector("#delete_btn")) {
        document.querySelector("#delete_btn").addEventListener("click", (e) => {
            e.preventDefault()
            if (confirm("This post will be deleted completely. continue? ")){
                window.location.href = `/delete_feed?post_id=${post_id}`
            }
        })
    }
</script>

</body>



</html>